### Nginx Configuration
NGINX_PORT=7777

### Application
PROJECT_NAME=tstation-ai
ENV=dev ## ['local', 'dev', 'staging', 'prod']
LOG_LEVEL=DEBUG ## ['DEBUG', 'INFO', 'WARNING', 'ERROR']
APP_PORT=8000
ROOT_PATH=/api
APP_STATIC_DIR=static
APP_PUBLIC_DIR=static/public
API_SECRET_KEY=12345
TZ_OFFSET=7 # Timezone of app (UTC)

# TStation BE/DB
TSTATION_BE_API=http://host.docker.internal:8000
TSTATION_BE_MCP=http://host.docker.internal:8000/mcp

### AI Internal Gateway
AI_DEFAULT_PROVIDER=openai
AI_GATEWAY_BASE_URL=http://ai-gateway:8000/v1
AI_GATEWAY_API_KEY=sk-bluedragonvn-tstation-ai-SblqSKgzGONcljm5
# External API keys
UPSTAGE_API_KEY=up_puBIcz0lsXkpwNoeISDwwEUBPOAHu
AWS_BEARER_TOKEN_BEDROCK=ABSKQmVkcm9ja0FQSUtleS1sNmttLWF0LTc2Mzg2NTA2MjUzODovZnlaNytFbjhuUGNUYjVudjl0cWEyMHRIRkplMkF1SmVWQVFxSDZBbXZHQWxGa1pJb2RvMmdoY1ExTT0=
OPENAI_API_KEY=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



### Queue System
# Redis
REDIS_PASSWORD=tstation_1122334455
REDIS_URL=redis://:tstation_1122334455@redis:6379/0
# RabbitMQ
RABBITMQ_NODENAME=rabbit@rabbitmq
RABBITMQ_USERNAME=tstation
RABBITMQ_PASSWORD=tstation_1122334455
RABBITMQ_TM_PORT=15672
RABBITMQ_URL=amqp://tstation:tstation_1122334455@rabbitmq:5672//
RABBITMQ_URL_MANAGEMENT=http://tstation:tstation_1122334455@rabbitmq:15672/
# Celery Worker
NUM_WORKER=2
# List Queue Available



### AWS
# Credential
AWS_ACCESS_KEY_ID=ADD_KEY
AWS_SECRET_ACCESS_KEY=ADD_KEY
AWS_DEFAULT_REGION=ap-northeast-2
# S3 Bucket
S3_BUCKET_NAME=ADD_KEY

### Monitoring & Tracing
# Grafana UI
GF_SECURITY_ADMIN_USER=BlueDragonVN@gmail.com
GF_SECURITY_ADMIN_PASSWORD=12345
# Loki Log
LOKI_URL=http://host.docker.internal:3001/api/datasources/proxy/1/loki/api/v1/push
# Prometheus Metrics
PROMETHEUS_URL=http://host.docker.internal:3001/prometheus/api/v1/write
# Langfuse Tracing
LANGFUSE_HOST=http://52.78.93.29:3101
LANGFUSE_PROJECT_NAME=tstation-ai
LANGFUSE_SECRET_KEY=sk-lf-300f639e-cf10-4b34-a0b5-a38476bf8855
LANGFUSE_PUBLIC_KEY=pk-lf-37398231-ecad-4756-9bfa-1dd7825d861e	
